#Autosave files
*~

# Build/test output
obj
bin
test-results

# libraries
lib
packages

# SDKs acquired from developer.vidyo.io
VidyoClient-AndroidSDK
VidyoClient-iOSSDK

# Per-user data
*.DS_Store
*.sln.cache
*.suo
*.userprefs
*.usertasks
*.user
.vs/

# ReSharper
*_Resharper.*
*.Resharper

# dotCover
*.dotCover

